body {
    margin: 0px;
    padding: 0px;
    font-family: Gill Sans Extrabold, sans-serif;
}

.ui-widget {
    font-size: 80%;
}

div.layout-header {
    width: 100%;
    height: 60px;
    background: #f1f1f1;
    border-bottom: 1px solid #dddddd;
    color: #0066cc;
}

div.layout-header .title {
    display: block;
    font-size: 24pt;
    font-weight: bold;
    padding: 12px 20px;
}

div.layout-header .menu {
    display: block;
    padding: 18px 20px 0px 0px;
}

div.layout-outer {
    width: 1024px;
}

div.layout-menu {
    width: 0px;
}

div.layout-main {
    position: relative;
    width: 1024px;
}

div.layout-footer {
    width: 100%;
    height: 60px;
    margin: 50px 0px auto;
    font-size: 80%;
}

.root {
    width: 1024px;
    clear: both;
}

.col2 {
    width: 500px;
}

.col3 {
    width: 266px;
}

.col2-1-4.left {
    width: 210px;
}

.col2-1-4.right {
    width: 590px;
}