{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>BP Validity Tester</title>

    <script src="{% static "lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "lib/jquery-ui-1.11.2/jquery-ui.min.js" %}"></script>
    <script>$(function () {});</script>
    <script src="{% static "lib/jqplot/jquery.jqplot.min.js" %}"></script>
    <script src="{% static "lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js" %}"></script>
    <script src="{% static "lib/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js" %}"></script>
    <script src="{% static "lib/jquery.blockUI.js" %}"></script>

    <link rel="stylesheet" href="{% static "lib/jquery-ui-1.11.2/jquery-ui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js" %}"/>
    <link rel="stylesheet" href="{% static "lib/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js" %}"/>
    <link rel="stylesheet" href="{% static "lib/jqplot/jquery.jqplot.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/layout.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "css/img.css" %}"/>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div class="layout-header">
    {% block header %}{% endblock %}
</div>
<div class="layout-outer center">
    <div class="layout-menu left">
        {% block menu %}{% endblock %}
    </div>
    <div class="layout-main right">
        {% block main %}{% endblock %}
    </div>
</div>
<div class="clear"></div>
<div class="layout-footer">
    {% block footer %}{% endblock %}
</div>
{% block scripts %}
{% endblock %}
</body>
</html>