{% extends "base.html" %}

{% block stylesheets %} {{ block.super }}
    <style>
        #title {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="layout-outer center">
        <label id="title" class="title" style="text-align: center">Business Process Specification Validity Tester</label>
    </div>
{% endblock %}

{% block menu %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %} {{ block.super }}
    {# Script for menu #}
    <script type="text/javascript">
        (function($) {
            $("#title").click(function() {
                window.location = '/';
            });
        })(jQuery);
    </script>
{% endblock %}